# Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar

# Build output directies
/target/
/*/target/
/*/*/target/
/build/
/*/build/
/*/*/build/
/out/
/*/out/
/*/*/out/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
/out/
/*/out/

# Eclipse
.classpath
.project
.settings/
